.SaveSubmitContainer {
    align-self: end;
    position: sticky;
    bottom: 25px;
    margin-top: 1px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    z-index: 100;
    gap: 10px;
}