.home-heading {
    color: black !important;
    font-weight: bold !important;
    text-align: center !important;
    margin-top: '2rem' !important;
}

@media only screen and (max-width: 600px) {
    .home-heading {
        margin-top: '0rem' !important;
    }
}